@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans&display=swap');
*{
    margin:0;
    padding:0;
}
.sidebar{
    background-color:rgb(187, 182, 182);
    width:434px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;    
    height:100vh;
    
}
.sidebar nav{
    padding:45px;
}
.sidebar nav li{
    list-style-type: none;
    font-size:25px;
    padding:33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color:black;
    
}
.maincontent{
    /*background-color:yellow;*/
    width:90vw;
    height:100vh;
}
.container{
    display:flex;
}
.info{
    /*background-color:gray;*/
    height: 58vh;
    width:80vw;
    margin:110px auto;
    display:flex;
    justify-content: space-around;
   
}
.devpic img{
    width: 250px;
    height:58vh;

}
.devinfo{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.hello{
font-size: 50px;
font-family: 'Inter', sans-serif;
}
.name{
font-size: 40px;
font-weight: bold;
font-family: 'Open Sans', sans-serif;
}
.about{
font-size:35px;
font-family: 'Inter', sans-serif;
}
.buttons{
margin-top:34px;
}

.buttons button{
    padding: 9px 15px;
    border-radius: 22px;
    color:white;
    background-color:dodgerblue;
    font-weight: bold;
    font-size:18px;
    margin:0 3px;
    cursor: pointer;
    border-style:inset;
    border-width: 1px;
}
.buttons button:hover{
    background-color: white;
    color:dodgerblue;
}

/*Contact Css*/

.contactinfo{
    padding-top: 144px;
    padding:0 34px;
    font-family: 'Open Sans', sans-serif;
    margin-left:50px;
    margin-top: 20px;
    align-items: center;
}
.contactinfo h1{
    font-family: 'Inter', sans-serif;
    text-align: center;
    
}
.contactinfo form{
    margin-top: 30px;
    margin-left: 270px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.contactinfo form div{
    padding:10px 0;
    display: flex;
    flex-direction: column;
    
}
.form-control{
    width:26vw;
    border-radius: 5px;
    font-size:16px;
    margin:6px 0;
    padding:5px;
    
}
#emailHelp{
    font-size: 8px;
    color:midnightblue;
    margin: 0 5px;
}

.form-check-input{
    flex-direction: row;
    margin-left:-690px;
}
.form-check-label{
    margin-left:30px;
    margin-top:-17px;
}
.btn-primary{
    margin-top:30px;
    padding: 9px 15px;
    border-radius: 22px;
    color:white;
    background-color:dodgerblue;
    font-weight: bold;
    font-size:18px;
    margin-left: 90px;
    cursor: pointer;
    border-style:inset;
    border-width: 1px;
    width: 200px;
}
.btn-primary:hover{
    background-color: white;
    color:dodgerblue;
}


/*Blog Css*/
.blogitem{
    font-family: 'Inter', sans-serif;
    margin:20px;
}
.blog-h1{
    text-align: center;
    margin-top:20px;
}
.blogitem h2{
    font-family: 'Inter', sans-serif;
}
.blogitem p{
    font-family: 'Open Sans', sans-serif;
    margin-top: 25px;
}
.btn-sm{
    padding: 9px 15px;
    border-radius: 22px;
    color:white;
    background-color:dodgerblue;
    font-weight: bold;
    font-size:12px;
    margin:0 3px;
    margin-top: 10px;
    cursor: pointer;
    border-style:inset;
    border-width: 1px;
    height:40px;
    width:100px;
}
.btn-sm:hover{
    color:dodgerblue;
    background-color:white;
}

/*My Intro*/

.about-h1{
   text-align: center;
   margin-top:20px;

}
.about-p{
    font-family: 'Open Sans', sans-serif;
    margin-top: 15px;
    margin-left:20px;
    font-size: 18px;
    text-align: justify;
}
.about-h2{
    margin-top:20px;
    margin-left:20px;
}
.skillcontainer{
    margin-top:20px;
    margin-left:20px;
    font-family: 'Open Sans', sans-serif;
}